@font-face {
  font-family: "iconfont"; /* Project id 4204858 */
  src: url('iconfont.woff2?t=1693462199129') format('woff2'),
       url('iconfont.woff?t=1693462199129') format('woff'),
       url('iconfont.ttf?t=1693462199129') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-saoyisao:before {
  content: "\e61b";
}

.icon-huiyuan:before {
  content: "\e65f";
}

.icon-kaiguan:before {
  content: "\e61e";
}

.icon-beizhu-:before {
  content: "\e60b";
}

.icon-MROxitong-shenqingdianziqianzhang:before {
  content: "\e653";
}

.icon-shouji:before {
  content: "\e629";
}

.icon-yanzhengma:before {
  content: "\e667";
}

.icon-mima:before {
  content: "\e6a6";
}

.icon-a-yanzhengmaanquan:before {
  content: "\e7a6";
}

.icon-yonghu:before {
  content: "\e685";
}

.icon-liucheng1:before {
  content: "\e683";
}

.icon-likaishijian:before {
  content: "\e61f";
}

.icon-juzhongduiqi:before {
  content: "\e613";
}

.icon-fontsize:before {
  content: "\e7a1";
}

.icon-redo:before {
  content: "\e628";
}

.icon-sub:before {
  content: "\e62e";
}

.icon-super:before {
  content: "\ec30";
}

.icon-zitijiacu:before {
  content: "\e614";
}

.icon-format-header-1:before {
  content: "\e860";
}

.icon-date:before {
  content: "\e658";
}

.icon-fontbgcolor:before {
  content: "\e65e";
}

.icon-format-header-2:before {
  content: "\e75c";
}

.icon-format-header-3:before {
  content: "\e75d";
}

.icon-format-header-4:before {
  content: "\e75e";
}

.icon-text_color:before {
  content: "\e646";
}

.icon-zitishanchuxian:before {
  content: "\e7aa";
}

.icon-zitixiahuaxian:before {
  content: "\e615";
}

.icon-zitixieti:before {
  content: "\e617";
}

.icon-youduiqi:before {
  content: "\e63d";
}

.icon-zuoduiqi:before {
  content: "\e641";
}

.icon-wuxupailie:before {
  content: "\ec80";
}

.icon-youxupailie:before {
  content: "\ec81";
}

.icon-zuoyouduiqi:before {
  content: "\ec87";
}

.icon-undo:before {
  content: "\e686";
}

.icon-direction-rtl:before {
  content: "\e7f8";
}

.icon-delete:before {
  content: "\e619";
}

.icon-fengexian:before {
  content: "\e638";
}

.icon-checklist:before {
  content: "\e61a";
}

.icon-pic:before {
  content: "\e606";
}

.icon-Vectorbgcolor:before {
  content: "\e722";
}

.icon-gongneng:before {
  content: "\e721";
}

.icon-jibenicon_shouji-mian:before {
  content: "\e612";
}

.icon-yanjing1:before {
  content: "\e6d1";
}

.icon-liucheng:before {
  content: "\e610";
}

.icon-qq:before {
  content: "\e601";
}

.icon-weixin:before {
  content: "\e602";
}

.icon-dianhua:before {
  content: "\e604";
}

.icon-youxiang:before {
  content: "\e605";
}

.icon-guanbi1:before {
  content: "\e60c";
}

.icon-wenjian:before {
  content: "\e60a";
}

.icon-gf-folderOpen:before {
  content: "\eac5";
}

.icon-renwuliucheng:before {
  content: "\e6b7";
}

.icon-guanbi:before {
  content: "\e7be";
}

.icon-yibuliucheng:before {
  content: "\e699";
}

.icon-duigou:before {
  content: "\e7af";
}

.icon-a-zuojiantouzhixiangzuojiantou:before {
  content: "\e60d";
}

.icon-xinzeng1:before {
  content: "\e616";
}

.icon-24gf-funnel:before {
  content: "\eacf";
}

.icon-shouqi:before {
  content: "\e63c";
}

.icon-zhankai:before {
  content: "\ec88";
}

.icon-xiala1:before {
  content: "\e798";
}

.icon-jinqian:before {
  content: "\e73b";
}

.icon-xinzeng:before {
  content: "\e611";
}

.icon-icon-arrow-left2:before {
  content: "\e664";
}

.icon-xiala:before {
  content: "\e627";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-shanchu:before {
  content: "\e8b6";
}

.icon-a-1Frenyuanyonghu:before {
  content: "\e694";
}

.icon-a25:before {
  content: "\e62f";
}

.icon-daiban:before {
  content: "\e6a5";
}

.icon-box1:before {
  content: "\e609";
}

.icon-yiban10:before {
  content: "\eb2e";
}

.icon-yuedu:before {
  content: "\e6b9";
}

.icon-renwuguanli:before {
  content: "\e618";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-guanyu:before {
  content: "\e65d";
}

.icon-youjiantou:before {
  content: "\e63e";
}

.icon-renwu:before {
  content: "\e684";
}

.icon-drxx67:before {
  content: "\e702";
}

.icon-jiedian:before {
  content: "\e60e";
}

.icon-shuju:before {
  content: "\e644";
}

.icon-peixun:before {
  content: "\e876";
}

.icon-renwu1:before {
  content: "\e60f";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-xiugaimima:before {
  content: "\e634";
}

.icon-erweima:before {
  content: "\ea08";
}

.icon-sousuo:before {
  content: "\e7ec";
}

.icon-biaodan:before {
  content: "\e756";
}

