@font-face {
  font-family: "antfont"; /* Project id 4232497 */
  src: url('antfont.ttf?t=1693615775911') format('truetype');
}

.antfont {
  font-family: "antfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-design-edit-square:before {
  content: "\e9a0";
}

.ant-design-tasks:before {
  content: "\ecde";
}

.ant-design-dituzhuye:before {
  content: "\e66f";
}

.ant-design-right-arrow:before {
  content: "\e61d";
}

.ant-design-microservices:before {
  content: "\e736";
}

.ant-design-users:before {
  content: "\e69b";
}

.ant-design-list-check:before {
  content: "\e9d4";
}

.ant-design-zoom-in-outlined:before {
  content: "\e99e";
}

.ant-design-zoom-out-outlined:before {
  content: "\e99f";
}

.ant-design-zhihu-outlined:before {
  content: "\e99c";
}

.ant-design-zhihu-square-filled:before {
  content: "\e99d";
}

.ant-design-zhihu-circle-filled:before {
  content: "\e99b";
}

.ant-design-yuque-outlined:before {
  content: "\e999";
}

.ant-design-yuque-filled:before {
  content: "\e99a";
}

.ant-design-youtube-outlined:before {
  content: "\e997";
}

.ant-design-youtube-filled:before {
  content: "\e998";
}

.ant-design-yahoo-outlined:before {
  content: "\e995";
}

.ant-design-yahoo-filled:before {
  content: "\e996";
}

.ant-design-woman-outlined:before {
  content: "\e67f";
}

.ant-design-windows-outlined:before {
  content: "\e994";
}

.ant-design-windows-filled:before {
  content: "\e993";
}

.ant-design-wifi-outlined:before {
  content: "\e992";
}

.ant-design-whats-app-outlined:before {
  content: "\e991";
}

.ant-design-weibo-outlined:before {
  content: "\e98e";
}

.ant-design-weibo-circle-filled:before {
  content: "\e98f";
}

.ant-design-weibo-square-filled:before {
  content: "\e990";
}

.ant-design-weibo-circle-outlined:before {
  content: "\e766";
}

.ant-design-weibo-square-outlined:before {
  content: "\e767";
}

.ant-design-wechat-filled:before {
  content: "\e98d";
}

.ant-design-wechat-outlined:before {
  content: "\e765";
}

.ant-design-warning-outlined:before {
  content: "\e764";
}

.ant-design-warning-twotone:before {
  content: "\e98c";
}

.ant-design-warning-filled:before {
  content: "\e65f";
}

.ant-design-wallet-outlined:before {
  content: "\e94d";
}

.ant-design-wallet-filled:before {
  content: "\e94e";
}

.ant-design-wallet-twotone:before {
  content: "\e98b";
}

.ant-design-video-camera-outlined:before {
  content: "\e763";
}

.ant-design-video-camera-twotone:before {
  content: "\ea36";
}

.ant-design-video-camera-filled:before {
  content: "\e65e";
}

.ant-design-video-camera-add-outlined:before {
  content: "\e98a";
}

.ant-design-vertical-right-outlined:before {
  content: "\e989";
}

.ant-design-vertical-left-outlined:before {
  content: "\e988";
}

.ant-design-vertical-align-top-outlined:before {
  content: "\e762";
}

.ant-design-vertical-align-middle-outlined:before {
  content: "\e987";
}

.ant-design-vertical-align-bottom-outlined:before {
  content: "\e94c";
}

.ant-design-verified-outlined:before {
  content: "\e94b";
}

.ant-design-usergroup-delete-outlined:before {
  content: "\e986";
}

.ant-design-usergroup-add-outlined:before {
  content: "\e761";
}

.ant-design-user-switch-outlined:before {
  content: "\e985";
}

.ant-design-user-outlined:before {
  content: "\e94a";
}

.ant-design-user-delete-outlined:before {
  content: "\e760";
}

.ant-design-user-add-outlined:before {
  content: "\e984";
}

.ant-design-usb-outlined:before {
  content: "\e947";
}

.ant-design-usb-filled:before {
  content: "\e948";
}

.ant-design-usb-twotone:before {
  content: "\e949";
}

.ant-design-upload-outlined:before {
  content: "\e946";
}

.ant-design-up-square-outlined:before {
  content: "\e943";
}

.ant-design-up-square-filled:before {
  content: "\e944";
}

.ant-design-up-square-twotone:before {
  content: "\e945";
}

.ant-design-up-outlined:before {
  content: "\e942";
}

.ant-design-up-circle-outlined:before {
  content: "\e940";
}

.ant-design-up-circle-filled:before {
  content: "\e941";
}

.ant-design-up-circle-twotone:before {
  content: "\ea35";
}

.ant-design-unordered-list-outlined:before {
  content: "\e93f";
}

.ant-design-unlock-outlined:before {
  content: "\e93d";
}

.ant-design-unlock-filled:before {
  content: "\e93e";
}

.ant-design-unlock-twotone:before {
  content: "\ea34";
}

.ant-design-ungroup-outlined:before {
  content: "\e93c";
}

.ant-design-undo-outlined:before {
  content: "\e93b";
}

.ant-design-underline-outlined:before {
  content: "\e93a";
}

.ant-design-twitter-outlined:before {
  content: "\e937";
}

.ant-design-twitter-circle-filled:before {
  content: "\e938";
}

.ant-design-twitter-square-filled:before {
  content: "\e939";
}

.ant-design-trophy-outlined:before {
  content: "\e75c";
}

.ant-design-trophy-twotone:before {
  content: "\e936";
}

.ant-design-trophy-filled:before {
  content: "\e65d";
}

.ant-design-translation-outlined:before {
  content: "\e983";
}

.ant-design-transaction-outlined:before {
  content: "\e935";
}

.ant-design-trademark-outlined:before {
  content: "\e934";
}

.ant-design-trademark-circle-filled:before {
  content: "\e664";
}

.ant-design-trademark-circle-twotone:before {
  content: "\ea33";
}

.ant-design-trademark-circle-outlined:before {
  content: "\e982";
}

.ant-design-tool-filled:before {
  content: "\e70c";
}

.ant-design-tool-twotone:before {
  content: "\ea32";
}

.ant-design-tool-outlined:before {
  content: "\e981";
}

.ant-design-to-top-outlined:before {
  content: "\e980";
}

.ant-design-thunderbolt-outlined:before {
  content: "\e931";
}

.ant-design-thunderbolt-filled:before {
  content: "\e932";
}

.ant-design-thunderbolt-twotone:before {
  content: "\e933";
}

.ant-design-team-outlined:before {
  content: "\e930";
}

.ant-design-taobao-square-filled:before {
  content: "\e92f";
}

.ant-design-taobao-outlined:before {
  content: "\e92e";
}

.ant-design-taobao-circle-filled:before {
  content: "\e92d";
}

.ant-design-taobao-circle-outlined:before {
  content: "\e65c";
}

.ant-design-tags-outlined:before {
  content: "\e92a";
}

.ant-design-tags-filled:before {
  content: "\e92b";
}

.ant-design-tags-twotone:before {
  content: "\e92c";
}

.ant-design-tag-outlined:before {
  content: "\e927";
}

.ant-design-tag-filled:before {
  content: "\e928";
}

.ant-design-tag-twotone:before {
  content: "\e929";
}

.ant-design-tablet-outlined:before {
  content: "\e924";
}

.ant-design-tablet-filled:before {
  content: "\e925";
}

.ant-design-tablet-twotone:before {
  content: "\e926";
}

.ant-design-table-outlined:before {
  content: "\e923";
}

.ant-design-sync-outlined:before {
  content: "\e922";
}

.ant-design-switcher-filled:before {
  content: "\e70b";
}

.ant-design-switcher-outlined:before {
  content: "\e75a";
}

.ant-design-switcher-twotone:before {
  content: "\e921";
}

.ant-design-swap-right-outlined:before {
  content: "\e759";
}

.ant-design-swap-outlined:before {
  content: "\e758";
}

.ant-design-swap-left-outlined:before {
  content: "\e757";
}

.ant-design-subnode-outlined:before {
  content: "\e920";
}

.ant-design-strikethrough-outlined:before {
  content: "\e91f";
}

.ant-design-stop-outlined:before {
  content: "\e91c";
}

.ant-design-stop-filled:before {
  content: "\e91d";
}

.ant-design-stop-twotone:before {
  content: "\e91e";
}

.ant-design-stock-outlined:before {
  content: "\e91b";
}

.ant-design-step-forward-filled:before {
  content: "\e756";
}

.ant-design-step-forward-outlined:before {
  content: "\eaa2";
}

.ant-design-step-backward-filled:before {
  content: "\e709";
}

.ant-design-step-backward-outlined:before {
  content: "\eaa1";
}

.ant-design-star-outlined:before {
  content: "\e8ff";
}

.ant-design-star-filled:before {
  content: "\e919";
}

.ant-design-star-twotone:before {
  content: "\e91a";
}

.ant-design-split-cells-outlined:before {
  content: "\e97f";
}

.ant-design-sound-filled:before {
  content: "\e8fc";
}

.ant-design-sound-outlined:before {
  content: "\e755";
}

.ant-design-sound-twotone:before {
  content: "\e8fe";
}

.ant-design-sort-descending-outlined:before {
  content: "\e65b";
}

.ant-design-sort-ascending-outlined:before {
  content: "\e754";
}

.ant-design-solution-outlined:before {
  content: "\e8fb";
}

.ant-design-snippets-filled:before {
  content: "\e70a";
}

.ant-design-snippets-outlined:before {
  content: "\e753";
}

.ant-design-snippets-twotone:before {
  content: "\e8fa";
}

.ant-design-smile-outlined:before {
  content: "\e8f8";
}

.ant-design-smile-filled:before {
  content: "\e8f9";
}

.ant-design-smile-twotone:before {
  content: "\ea31";
}

.ant-design-small-dash-outlined:before {
  content: "\e8f7";
}

.ant-design-sliders-outlined:before {
  content: "\e8f5";
}

.ant-design-sliders-filled:before {
  content: "\e8f6";
}

.ant-design-sliders-twotone:before {
  content: "\ea30";
}

.ant-design-slack-outlined:before {
  content: "\e8f4";
}

.ant-design-slack-circle-filled:before {
  content: "\e655";
}

.ant-design-slack-square-filled:before {
  content: "\e66a";
}

.ant-design-slack-square-outlined:before {
  content: "\eaa0";
}

.ant-design-skype-outlined:before {
  content: "\e8f2";
}

.ant-design-skype-filled:before {
  content: "\e8f3";
}

.ant-design-skin-outlined:before {
  content: "\e8e7";
}

.ant-design-skin-filled:before {
  content: "\e8f1";
}

.ant-design-skin-twotone:before {
  content: "\ea2f";
}

.ant-design-sketch-square-filled:before {
  content: "\e8e6";
}

.ant-design-sketch-outlined:before {
  content: "\e8e5";
}

.ant-design-sketch-circle-filled:before {
  content: "\e8e4";
}

.ant-design-sisternode-outlined:before {
  content: "\e90c";
}

.ant-design-signal-filled:before {
  content: "\e8f0";
}

.ant-design-shrink-outlined:before {
  content: "\e8e3";
}

.ant-design-shopping-outlined:before {
  content: "\e8e1";
}

.ant-design-shopping-twotone:before {
  content: "\e8e2";
}

.ant-design-shopping-filled:before {
  content: "\e658";
}

.ant-design-shopping-cart-outlined:before {
  content: "\e751";
}

.ant-design-shop-filled:before {
  content: "\e8df";
}

.ant-design-shop-outlined:before {
  content: "\e750";
}

.ant-design-shop-twotone:before {
  content: "\e8e0";
}

.ant-design-share-alt-outlined:before {
  content: "\e97e";
}

.ant-design-shake-outlined:before {
  content: "\e8de";
}

.ant-design-setting-filled:before {
  content: "\e8db";
}

.ant-design-setting-twotone:before {
  content: "\e8dc";
}

.ant-design-setting-outlined:before {
  content: "\e8dd";
}

.ant-design-send-outlined:before {
  content: "\e918";
}

.ant-design-select-outlined:before {
  content: "\e8da";
}

.ant-design-security-scan-outlined:before {
  content: "\e8d8";
}

.ant-design-security-scan-filled:before {
  content: "\e8d9";
}

.ant-design-security-scan-twotone:before {
  content: "\ea2e";
}

.ant-design-search-outlined:before {
  content: "\e62c";
}

.ant-design-scissor-outlined:before {
  content: "\e8d7";
}

.ant-design-schedule-outlined:before {
  content: "\e74f";
}

.ant-design-schedule-twotone:before {
  content: "\ea2d";
}

.ant-design-schedule-filled:before {
  content: "\e657";
}

.ant-design-scan-outlined:before {
  content: "\e8d6";
}

.ant-design-save-outlined:before {
  content: "\e8d4";
}

.ant-design-save-twotone:before {
  content: "\ea2c";
}

.ant-design-save-filled:before {
  content: "\e656";
}

.ant-design-safety-outlined:before {
  content: "\ea9f";
}

.ant-design-safety-certificate-outlined:before {
  content: "\e97d";
}

.ant-design-safety-certificate-filled:before {
  content: "\e8d5";
}

.ant-design-safety-certificate-twotone:before {
  content: "\ea2b";
}

.ant-design-rotate-right-outlined:before {
  content: "\e90b";
}

.ant-design-rotate-left-outlined:before {
  content: "\e90a";
}

.ant-design-rollback-outlined:before {
  content: "\e74c";
}

.ant-design-rocket-outlined:before {
  content: "\e8d2";
}

.ant-design-rocket-filled:before {
  content: "\e8d3";
}

.ant-design-rocket-twotone:before {
  content: "\ea2a";
}

.ant-design-robot-outlined:before {
  content: "\e8d1";
}

.ant-design-robot-filled:before {
  content: "\e8eb";
}

.ant-design-rise-outlined:before {
  content: "\e8d0";
}

.ant-design-right-square-outlined:before {
  content: "\e8cd";
}

.ant-design-right-square-filled:before {
  content: "\e8ce";
}

.ant-design-right-square-twotone:before {
  content: "\e8cf";
}

.ant-design-right-outlined:before {
  content: "\e8cc";
}

.ant-design-right-circle-outlined:before {
  content: "\e8c9";
}

.ant-design-right-circle-filled:before {
  content: "\e8ca";
}

.ant-design-right-circle-twotone:before {
  content: "\e8cb";
}

.ant-design-retweet-outlined:before {
  content: "\e74a";
}

.ant-design-rest-outlined:before {
  content: "\e8c7";
}

.ant-design-rest-filled:before {
  content: "\e8c8";
}

.ant-design-rest-twotone:before {
  content: "\ea29";
}

.ant-design-reload-outlined:before {
  content: "\e8c6";
}

.ant-design-redo-outlined:before {
  content: "\e8c5";
}

.ant-design-reddit-outlined:before {
  content: "\e8c3";
}

.ant-design-reddit-square-filled:before {
  content: "\e8c4";
}

.ant-design-reddit-circle-filled:before {
  content: "\e8c2";
}

.ant-design-red-envelope-outlined:before {
  content: "\e841";
}

.ant-design-red-envelope-filled:before {
  content: "\e8c1";
}

.ant-design-red-envelope-twotone:before {
  content: "\ea28";
}

.ant-design-reconciliation-outlined:before {
  content: "\e83f";
}

.ant-design-reconciliation-filled:before {
  content: "\e8c0";
}

.ant-design-reconciliation-twotone:before {
  content: "\e840";
}

.ant-design-read-outlined:before {
  content: "\e83e";
}

.ant-design-read-filled:before {
  content: "\e8bf";
}

.ant-design-radius-upright-outlined:before {
  content: "\e83d";
}

.ant-design-radius-upleft-outlined:before {
  content: "\e83c";
}

.ant-design-radius-setting-outlined:before {
  content: "\e748";
}

.ant-design-radius-bottomright-outlined:before {
  content: "\e83b";
}

.ant-design-radius-bottomleft-outlined:before {
  content: "\e83a";
}

.ant-design-radar-chart-outlined:before {
  content: "\e839";
}

.ant-design-question-outlined:before {
  content: "\e838";
}

.ant-design-question-circle-outlined:before {
  content: "\e836";
}

.ant-design-question-circle-filled:before {
  content: "\e8be";
}

.ant-design-question-circle-twotone:before {
  content: "\e837";
}

.ant-design-qrcode-outlined:before {
  content: "\e835";
}

.ant-design-qq-square-filled:before {
  content: "\e8bd";
}

.ant-design-qq-outlined:before {
  content: "\e8bc";
}

.ant-design-qq-circle-filled:before {
  content: "\e8bb";
}

.ant-design-pushpin-outlined:before {
  content: "\e833";
}

.ant-design-pushpin-filled:before {
  content: "\e8ba";
}

.ant-design-pushpin-twotone:before {
  content: "\e834";
}

.ant-design-pull-request-outlined:before {
  content: "\e97c";
}

.ant-design-property-safety-outlined:before {
  content: "\e831";
}

.ant-design-property-safety-filled:before {
  content: "\e8b9";
}

.ant-design-property-safety-twotone:before {
  content: "\e832";
}

.ant-design-project-outlined:before {
  content: "\e830";
}

.ant-design-project-filled:before {
  content: "\e8b8";
}

.ant-design-project-twotone:before {
  content: "\ea27";
}

.ant-design-profile-filled:before {
  content: "\e702";
}

.ant-design-profile-outlined:before {
  content: "\e746";
}

.ant-design-profile-twotone:before {
  content: "\e82f";
}

.ant-design-printer-outlined:before {
  content: "\e82e";
}

.ant-design-printer-filled:before {
  content: "\e8b7";
}

.ant-design-printer-twotone:before {
  content: "\ea26";
}

.ant-design-poweroff-outlined:before {
  content: "\e82d";
}

.ant-design-pound-outlined:before {
  content: "\e82c";
}

.ant-design-pound-circle-filled:before {
  content: "\e8b6";
}

.ant-design-pound-circle-twotone:before {
  content: "\ea25";
}

.ant-design-pound-circle-outlined:before {
  content: "\e97b";
}

.ant-design-plus-square-outlined:before {
  content: "\e82b";
}

.ant-design-plus-square-filled:before {
  content: "\e8b5";
}

.ant-design-plus-square-twotone:before {
  content: "\ea24";
}

.ant-design-plus-outlined:before {
  content: "\e745";
}

.ant-design-plus-circle-outlined:before {
  content: "\e829";
}

.ant-design-plus-circle-filled:before {
  content: "\e8b4";
}

.ant-design-plus-circle-twotone:before {
  content: "\e82a";
}

.ant-design-play-square-outlined:before {
  content: "\e827";
}

.ant-design-play-square-filled:before {
  content: "\e8b3";
}

.ant-design-play-square-twotone:before {
  content: "\e828";
}

.ant-design-play-circle-outlined:before {
  content: "\e825";
}

.ant-design-play-circle-filled:before {
  content: "\e8b2";
}

.ant-design-play-circle-twotone:before {
  content: "\e826";
}

.ant-design-pie-chart-filled:before {
  content: "\e67d";
}

.ant-design-pie-chart-outlined:before {
  content: "\e823";
}

.ant-design-pie-chart-twotone:before {
  content: "\e824";
}

.ant-design-picture-filled:before {
  content: "\e822";
}

.ant-design-picture-outlined:before {
  content: "\e744";
}

.ant-design-picture-twotone:before {
  content: "\ea23";
}

.ant-design-pic-right-outlined:before {
  content: "\e821";
}

.ant-design-pic-left-outlined:before {
  content: "\e820";
}

.ant-design-pic-center-outlined:before {
  content: "\e97a";
}

.ant-design-phone-outlined:before {
  content: "\e81e";
}

.ant-design-phone-twotone:before {
  content: "\e81f";
}

.ant-design-phone-filled:before {
  content: "\e600";
}

.ant-design-percentage-outlined:before {
  content: "\e81d";
}

.ant-design-pay-circle-filled:before {
  content: "\e701";
}

.ant-design-pay-circle-outlined:before {
  content: "\e979";
}

.ant-design-pause-outlined:before {
  content: "\e81c";
}

.ant-design-pause-circle-outlined:before {
  content: "\e743";
}

.ant-design-pause-circle-twotone:before {
  content: "\e81b";
}

.ant-design-pause-circle-filled:before {
  content: "\e651";
}

.ant-design-partition-outlined:before {
  content: "\e912";
}

.ant-design-paper-clip-outlined:before {
  content: "\e742";
}

.ant-design-ordered-list-outlined:before {
  content: "\e81a";
}

.ant-design-one-to-one-outlined:before {
  content: "\e978";
}

.ant-design-number-outlined:before {
  content: "\e819";
}

.ant-design-notification-outlined:before {
  content: "\e817";
}

.ant-design-notification-filled:before {
  content: "\e8b1";
}

.ant-design-notification-twotone:before {
  content: "\e818";
}

.ant-design-node-index-outlined:before {
  content: "\e977";
}

.ant-design-node-expand-outlined:before {
  content: "\e976";
}

.ant-design-node-collapse-outlined:before {
  content: "\e975";
}

.ant-design-more-outlined:before {
  content: "\e700";
}

.ant-design-monitor-outlined:before {
  content: "\e816";
}

.ant-design-money-collect-outlined:before {
  content: "\e815";
}

.ant-design-money-collect-filled:before {
  content: "\e8b0";
}

.ant-design-money-collect-twotone:before {
  content: "\ea22";
}

.ant-design-mobile-filled:before {
  content: "\e6ff";
}

.ant-design-mobile-twotone:before {
  content: "\e814";
}

.ant-design-mobile-outlined:before {
  content: "\e974";
}

.ant-design-minus-square-outlined:before {
  content: "\e812";
}

.ant-design-minus-square-filled:before {
  content: "\e8af";
}

.ant-design-minus-square-twotone:before {
  content: "\e813";
}

.ant-design-minus-outlined:before {
  content: "\e811";
}

.ant-design-minus-circle-outlined:before {
  content: "\e80f";
}

.ant-design-minus-circle-filled:before {
  content: "\e8ae";
}

.ant-design-minus-circle-twotone:before {
  content: "\e810";
}

.ant-design-message-outlined:before {
  content: "\e80d";
}

.ant-design-message-filled:before {
  content: "\e8ad";
}

.ant-design-message-twotone:before {
  content: "\e80e";
}

.ant-design-merge-cells-outlined:before {
  content: "\e909";
}

.ant-design-menu-unfold-outlined:before {
  content: "\e973";
}

.ant-design-menu-outlined:before {
  content: "\e80c";
}

.ant-design-menu-fold-outlined:before {
  content: "\e741";
}

.ant-design-meh-outlined:before {
  content: "\e80a";
}

.ant-design-meh-filled:before {
  content: "\e85d";
}

.ant-design-meh-twotone:before {
  content: "\e80b";
}

.ant-design-medium-workmark-outlined:before {
  content: "\e740";
}

.ant-design-medium-square-filled:before {
  content: "\e8ac";
}

.ant-design-medium-outlined:before {
  content: "\e8ab";
}

.ant-design-medium-circle-filled:before {
  content: "\e8aa";
}

.ant-design-medicine-box-filled:before {
  content: "\e8a9";
}

.ant-design-medicine-box-outlined:before {
  content: "\e73f";
}

.ant-design-medicine-box-twotone:before {
  content: "\e809";
}

.ant-design-man-outlined:before {
  content: "\e808";
}

.ant-design-mail-filled:before {
  content: "\e8a8";
}

.ant-design-mail-outlined:before {
  content: "\e73e";
}

.ant-design-mail-twotone:before {
  content: "\e807";
}

.ant-design-mac-command-filled:before {
  content: "\e733";
}

.ant-design-mac-command-outlined:before {
  content: "\e972";
}

.ant-design-logout-outlined:before {
  content: "\e806";
}

.ant-design-login-outlined:before {
  content: "\e73d";
}

.ant-design-lock-outlined:before {
  content: "\e804";
}

.ant-design-lock-filled:before {
  content: "\e8a7";
}

.ant-design-lock-twotone:before {
  content: "\e805";
}

.ant-design-loading-outlined:before {
  content: "\e8fd";
}

.ant-design-loading-3-quarters-outlined:before {
  content: "\e73c";
}

.ant-design-linkedin-outlined:before {
  content: "\e8a5";
}

.ant-design-linkedin-filled:before {
  content: "\e8a6";
}

.ant-design-link-outlined:before {
  content: "\e803";
}

.ant-design-line-outlined:before {
  content: "\e802";
}

.ant-design-line-height-outlined:before {
  content: "\e801";
}

.ant-design-line-chart-outlined:before {
  content: "\e73a";
}

.ant-design-like-outlined:before {
  content: "\e7d0";
}

.ant-design-like-filled:before {
  content: "\e8a4";
}

.ant-design-like-twotone:before {
  content: "\e7f4";
}

.ant-design-left-square-outlined:before {
  content: "\e7ce";
}

.ant-design-left-square-filled:before {
  content: "\e859";
}

.ant-design-left-square-twotone:before {
  content: "\e7cf";
}

.ant-design-left-outlined:before {
  content: "\e7f3";
}

.ant-design-left-circle-outlined:before {
  content: "\e7a8";
}

.ant-design-left-circle-filled:before {
  content: "\e858";
}

.ant-design-left-circle-twotone:before {
  content: "\ea21";
}

.ant-design-layout-outlined:before {
  content: "\e7a6";
}

.ant-design-layout-filled:before {
  content: "\e855";
}

.ant-design-layout-twotone:before {
  content: "\e7a7";
}

.ant-design-laptop-outlined:before {
  content: "\e7f2";
}

.ant-design-key-outlined:before {
  content: "\e7f1";
}

.ant-design-italic-outlined:before {
  content: "\e7fb";
}

.ant-design-issues-close-outlined:before {
  content: "\e7a5";
}

.ant-design-interaction-twotone:before {
  content: "\ea20";
}

.ant-design-interaction-filled:before {
  content: "\e64e";
}

.ant-design-interaction-outlined:before {
  content: "\e971";
}

.ant-design-insurance-outlined:before {
  content: "\e7cd";
}

.ant-design-insurance-filled:before {
  content: "\e856";
}

.ant-design-insurance-twotone:before {
  content: "\e7a4";
}

.ant-design-instagram-outlined:before {
  content: "\e8a2";
}

.ant-design-instagram-filled:before {
  content: "\e8a3";
}

.ant-design-insert-row-right-outlined:before {
  content: "\e908";
}

.ant-design-insert-row-left-outlined:before {
  content: "\e907";
}

.ant-design-insert-row-below-outlined:before {
  content: "\e906";
}

.ant-design-insert-row-above-outlined:before {
  content: "\e905";
}

.ant-design-info-outlined:before {
  content: "\e7fa";
}

.ant-design-info-circle-filled:before {
  content: "\e6fe";
}

.ant-design-info-circle-twotone:before {
  content: "\ea1f";
}

.ant-design-info-circle-outlined:before {
  content: "\e649";
}

.ant-design-inbox-outlined:before {
  content: "\e607";
}

.ant-design-import-outlined:before {
  content: "\e7a3";
}

.ant-design-ie-square-filled:before {
  content: "\e8a1";
}

.ant-design-ie-outlined:before {
  content: "\e8a0";
}

.ant-design-ie-circle-filled:before {
  content: "\e89f";
}

.ant-design-idcard-filled:before {
  content: "\e6fd";
}

.ant-design-idcard-outlined:before {
  content: "\e735";
}

.ant-design-idcard-twotone:before {
  content: "\e7a2";
}

.ant-design-html5-outlined:before {
  content: "\e89d";
}

.ant-design-html5-filled:before {
  content: "\e89e";
}

.ant-design-html5-twotone:before {
  content: "\ea1e";
}

.ant-design-hourglass-outlined:before {
  content: "\e7cc";
}

.ant-design-hourglass-filled:before {
  content: "\e89c";
}

.ant-design-hourglass-twotone:before {
  content: "\ea1d";
}

.ant-design-home-filled:before {
  content: "\e89b";
}

.ant-design-home-twotone:before {
  content: "\e7a1";
}

.ant-design-home-outlined:before {
  content: "\e608";
}

.ant-design-history-outlined:before {
  content: "\e622";
}

.ant-design-highlight-outlined:before {
  content: "\e7f0";
}

.ant-design-highlight-filled:before {
  content: "\e878";
}

.ant-design-highlight-twotone:before {
  content: "\e7a0";
}

.ant-design-heat-map-outlined:before {
  content: "\e7ea";
}

.ant-design-heart-outlined:before {
  content: "\e7e9";
}

.ant-design-heart-filled:before {
  content: "\e854";
}

.ant-design-heart-twotone:before {
  content: "\e79f";
}

.ant-design-hdd-outlined:before {
  content: "\e734";
}

.ant-design-hdd-twotone:before {
  content: "\e79e";
}

.ant-design-hdd-filled:before {
  content: "\e64d";
}

.ant-design-group-outlined:before {
  content: "\e917";
}

.ant-design-google-square-filled:before {
  content: "\e89a";
}

.ant-design-google-plus-square-filled:before {
  content: "\e896";
}

.ant-design-google-plus-outlined:before {
  content: "\e895";
}

.ant-design-google-plus-circle-filled:before {
  content: "\e894";
}

.ant-design-google-outlined:before {
  content: "\e87c";
}

.ant-design-google-circle-filled:before {
  content: "\e893";
}

.ant-design-golden-filled:before {
  content: "\e6fc";
}

.ant-design-gold-outlined:before {
  content: "\e7e6";
}

.ant-design-gold-filled:before {
  content: "\e877";
}

.ant-design-gold-twotone:before {
  content: "\e79d";
}

.ant-design-global-outlined:before {
  content: "\e970";
}

.ant-design-gitlab-outlined:before {
  content: "\e88b";
}

.ant-design-gitlab-filled:before {
  content: "\e892";
}

.ant-design-github-outlined:before {
  content: "\e732";
}

.ant-design-github-filled:before {
  content: "\e88a";
}

.ant-design-gift-outlined:before {
  content: "\e853";
}

.ant-design-gift-filled:before {
  content: "\e876";
}

.ant-design-gift-twotone:before {
  content: "\e79c";
}

.ant-design-gif-outlined:before {
  content: "\e96f";
}

.ant-design-gateway-outlined:before {
  content: "\e7e5";
}

.ant-design-funnel-plot-outlined:before {
  content: "\e7ca";
}

.ant-design-funnel-plot-filled:before {
  content: "\e875";
}

.ant-design-funnel-plot-twotone:before {
  content: "\ea1b";
}

.ant-design-fund-view-outlined:before {
  content: "\e96e";
}

.ant-design-fund-projection-screen-outlined:before {
  content: "\e96d";
}

.ant-design-fund-outlined:before {
  content: "\e7e4";
}

.ant-design-fund-filled:before {
  content: "\e865";
}

.ant-design-fund-twotone:before {
  content: "\ea1a";
}

.ant-design-function-outlined:before {
  content: "\e911";
}

.ant-design-fullscreen-outlined:before {
  content: "\e7ee";
}

.ant-design-fullscreen-exit-outlined:before {
  content: "\e7ec";
}

.ant-design-frown-outlined:before {
  content: "\e79a";
}

.ant-design-frown-filled:before {
  content: "\e851";
}

.ant-design-frown-twotone:before {
  content: "\e79b";
}

.ant-design-forward-outlined:before {
  content: "\e8ef";
}

.ant-design-forward-filled:before {
  content: "\e96c";
}

.ant-design-format-painter-outlined:before {
  content: "\e903";
}

.ant-design-format-painter-filled:before {
  content: "\e904";
}

.ant-design-form-outlined:before {
  content: "\e731";
}

.ant-design-ork-outlined:before {
  content: "\e7e8";
}

.ant-design-font-size-outlined:before {
  content: "\e7f9";
}

.ant-design-font-colors-outlined:before {
  content: "\e7f8";
}

.ant-design-folder-view-outlined:before {
  content: "\e916";
}

.ant-design-folder-outlined:before {
  content: "\e7e3";
}

.ant-design-folder-twotone:before {
  content: "\e798";
}

.ant-design-folder-open-outlined:before {
  content: "\e7e2";
}

.ant-design-folder-open-filled:before {
  content: "\e862";
}

.ant-design-folder-open-twotone:before {
  content: "\e797";
}

.ant-design-folder-filled:before {
  content: "\e861";
}

.ant-design-folder-add-outlined:before {
  content: "\e7d1";
}

.ant-design-folder-add-filled:before {
  content: "\e85e";
}

.ant-design-folder-add-twotone:before {
  content: "\ea19";
}

.ant-design-flag-outlined:before {
  content: "\e7cb";
}

.ant-design-flag-filled:before {
  content: "\e864";
}

.ant-design-flag-twotone:before {
  content: "\e796";
}

.ant-design-fire-outlined:before {
  content: "\e84a";
}

.ant-design-fire-filled:before {
  content: "\e86c";
}

.ant-design-fire-twotone:before {
  content: "\e795";
}

.ant-design-filter-outlined:before {
  content: "\e7c9";
}

.ant-design-filter-filled:before {
  content: "\e868";
}

.ant-design-filter-twotone:before {
  content: "\e794";
}

.ant-design-file-zip-twotone:before {
  content: "\e792";
}

.ant-design-file-zip-filled:before {
  content: "\e677";
}

.ant-design-file-zip-outlined:before {
  content: "\e7c8";
}

.ant-design-file-word-twotone:before {
  content: "\ea18";
}

.ant-design-file-word-filled:before {
  content: "\e64b";
}

.ant-design-file-word-outlined:before {
  content: "\e96b";
}

.ant-design-file-unknown-outlined:before {
  content: "\e7c7";
}

.ant-design-file-unknown-filled:before {
  content: "\e6bd";
}

.ant-design-file-unknown-twotone:before {
  content: "\ea17";
}

.ant-design-file-text-outlined:before {
  content: "\e7c2";
}

.ant-design-file-text-filled:before {
  content: "\e6fb";
}

.ant-design-file-text-twotone:before {
  content: "\e790";
}

.ant-design-file-sync-outlined:before {
  content: "\e7be";
}

.ant-design-file-search-outlined:before {
  content: "\e7bd";
}

.ant-design-file-protect-outlined:before {
  content: "\e7bc";
}

.ant-design-file-ppt-outlined:before {
  content: "\e730";
}

.ant-design-file-ppt-filled:before {
  content: "\e6bc";
}

.ant-design-file-ppt-twotone:before {
  content: "\ea16";
}

.ant-design-file-pdf-outlined:before {
  content: "\e7ba";
}

.ant-design-file-pdf-filled:before {
  content: "\e6fa";
}

.ant-design-file-pdf-twotone:before {
  content: "\e78e";
}

.ant-design-file-outlined:before {
  content: "\e7bb";
}

.ant-design-file-twotone:before {
  content: "\e78d";
}

.ant-design-file-markdown-filled:before {
  content: "\e6f9";
}

.ant-design-file-markdown-twotone:before {
  content: "\e78c";
}

.ant-design-file-markdown-outlined:before {
  content: "\e96a";
}

.ant-design-file-jpg-outlined:before {
  content: "\e969";
}

.ant-design-file-image-filled:before {
  content: "\e85a";
}

.ant-design-file-image-twotone:before {
  content: "\e78a";
}

.ant-design-file-image-outlined:before {
  content: "\e7b9";
}

.ant-design-file-gif-outlined:before {
  content: "\e915";
}

.ant-design-file-filled:before {
  content: "\e857";
}

.ant-design-file-exclamation-twotone:before {
  content: "\ea1c";
}

.ant-design-file-exclamation-filled:before {
  content: "\e648";
}

.ant-design-file-exclamation-outlined:before {
  content: "\e968";
}

.ant-design-file-excel-outlined:before {
  content: "\e7b8";
}

.ant-design-file-excel-twotone:before {
  content: "\e789";
}

.ant-design-file-excel-filled:before {
  content: "\e647";
}

.ant-design-file-done-outlined:before {
  content: "\e7b6";
}

.ant-design-file-add-outlined:before {
  content: "\e7b7";
}

.ant-design-file-add-filled:before {
  content: "\e6f8";
}

.ant-design-file-add-twotone:before {
  content: "\e788";
}

.ant-design-field-time-outlined:before {
  content: "\e90f";
}

.ant-design-field-string-outlined:before {
  content: "\e90e";
}

.ant-design-field-number-outlined:before {
  content: "\e90d";
}

.ant-design-field-binary-outlined:before {
  content: "\e621";
}

.ant-design-fast-forward-outlined:before {
  content: "\e8ee";
}

.ant-design-fast-forward-filled:before {
  content: "\e6f7";
}

.ant-design-fast-backward-outlined:before {
  content: "\e8ed";
}

.ant-design-fast-backward-filled:before {
  content: "\e6f6";
}

.ant-design-fall-outlined:before {
  content: "\e967";
}

.ant-design-facebook-outlined:before {
  content: "\e87d";
}

.ant-design-facebook-filled:before {
  content: "\e891";
}

.ant-design-eye-invisible-twotone:before {
  content: "\ea15";
}

.ant-design-eye-invisible-filled:before {
  content: "\e646";
}

.ant-design-eye-invisible-outlined:before {
  content: "\e966";
}

.ant-design-eye-outlined:before {
  content: "\e78f";
}

.ant-design-eye-filled:before {
  content: "\e86b";
}

.ant-design-eye-twotone:before {
  content: "\e787";
}

.ant-design-export-outlined:before {
  content: "\e791";
}

.ant-design-experiment-outlined:before {
  content: "\e7c5";
}

.ant-design-experiment-filled:before {
  content: "\e86a";
}

.ant-design-experiment-twotone:before {
  content: "\e786";
}

.ant-design-expand-outlined:before {
  content: "\e965";
}

.ant-design-expand-alt-outlined:before {
  content: "\e964";
}

.ant-design-exclamation-outlined:before {
  content: "\e963";
}

.ant-design-exclamation-circle-filled:before {
  content: "\e6f5";
}

.ant-design-exclamation-circle-twotone:before {
  content: "\ea14";
}

.ant-design-exclamation-circle-outlined:before {
  content: "\e962";
}

.ant-design-exception-outlined:before {
  content: "\e7b5";
}

.ant-design-euro-outlined:before {
  content: "\e784";
}

.ant-design-euro-twotone:before {
  content: "\e785";
}

.ant-design-euro-circle-filled:before {
  content: "\e6f4";
}

.ant-design-euro-circle-twotone:before {
  content: "\ea13";
}

.ant-design-euro-circle-outlined:before {
  content: "\e961";
}

.ant-design-environment-filled:before {
  content: "\e6f3";
}

.ant-design-environment-outlined:before {
  content: "\e72f";
}

.ant-design-environment-twotone:before {
  content: "\e783";
}

.ant-design-enter-outlined:before {
  content: "\e7ff";
}

.ant-design-lipsis-outlined:before {
  content: "\e66e";
}

.ant-design-edit-outlined:before {
  content: "\e7e1";
}

.ant-design-edit-filled:before {
  content: "\e86e";
}

.ant-design-edit-twotone:before {
  content: "\ea12";
}

.ant-design-dropbox-outlined:before {
  content: "\e883";
}

.ant-design-dropbox-square-filled:before {
  content: "\e890";
}

.ant-design-dropbox-circle-filled:before {
  content: "\e889";
}

.ant-design-dribbble-square-outlined:before {
  content: "\e88f";
}

.ant-design-dribbble-square-filled:before {
  content: "\e6f2";
}

.ant-design-dribbble-outlined:before {
  content: "\e882";
}

.ant-design-dribbble-circle-filled:before {
  content: "\e888";
}

.ant-design-drag-outlined:before {
  content: "\e848";
}

.ant-design-download-outlined:before {
  content: "\e7ef";
}

.ant-design-down-square-outlined:before {
  content: "\e793";
}

.ant-design-down-square-filled:before {
  content: "\e850";
}

.ant-design-down-square-twotone:before {
  content: "\ea11";
}

.ant-design-down-outlined:before {
  content: "\e7eb";
}

.ant-design-down-circle-outlined:before {
  content: "\e781";
}

.ant-design-down-circle-filled:before {
  content: "\e845";
}

.ant-design-down-circle-twotone:before {
  content: "\e782";
}

.ant-design-double-right-outlined:before {
  content: "\e7ed";
}

.ant-design-double-left-outlined:before {
  content: "\e960";
}

.ant-design-dot-chart-outlined:before {
  content: "\e95f";
}

.ant-design-dollar-outlined:before {
  content: "\e780";
}

.ant-design-dollar-twotone:before {
  content: "\e77c";
}

.ant-design-dollar-circle-filled:before {
  content: "\e847";
}

.ant-design-dollar-circle-twotone:before {
  content: "\ea10";
}

.ant-design-dollar-circle-outlined:before {
  content: "\e95e";
}

.ant-design-dislike-filled:before {
  content: "\e6f1";
}

.ant-design-dislike-outlined:before {
  content: "\e72e";
}

.ant-design-dislike-twotone:before {
  content: "\ea0f";
}

.ant-design-disconnect-outlined:before {
  content: "\e95d";
}

.ant-design-dingtalk-square-filled:before {
  content: "\ea9e";
}

.ant-design-dingtalk-outlined:before {
  content: "\e7c1";
}

.ant-design-dingtalk-circle-filled:before {
  content: "\e66b";
}

.ant-design-dingding-outlined:before {
  content: "\e95c";
}

.ant-design-diff-outlined:before {
  content: "\e7c0";
}

.ant-design-diff-filled:before {
  content: "\e85b";
}

.ant-design-diff-twotone:before {
  content: "\e77b";
}

.ant-design-desktop-outlined:before {
  content: "\e843";
}

.ant-design-deployment-unit-outlined:before {
  content: "\e7d2";
}

.ant-design-delivered-procedure-outlined:before {
  content: "\e95b";
}

.ant-design-delete-row-outlined:before {
  content: "\e902";
}

.ant-design-delete-filled:before {
  content: "\e863";
}

.ant-design-delete-outlined:before {
  content: "\e72d";
}

.ant-design-delete-twotone:before {
  content: "\ea0e";
}

.ant-design-delete-column-outlined:before {
  content: "\e901";
}

.ant-design-database-twotone:before {
  content: "\e77a";
}

.ant-design-database-filled:before {
  content: "\e643";
}

.ant-design-database-outlined:before {
  content: "\e95a";
}

.ant-design-dashboard-outlined:before {
  content: "\e78b";
}

.ant-design-dashboard-filled:before {
  content: "\e849";
}

.ant-design-dashboard-twotone:before {
  content: "\ea0d";
}

.ant-design-dash-outlined:before {
  content: "\e7fe";
}

.ant-design-customer-service-outlined:before {
  content: "\e72c";
}

.ant-design-customer-service-twotone:before {
  content: "\e779";
}

.ant-design-customer-service-filled:before {
  content: "\e642";
}

.ant-design-crown-outlined:before {
  content: "\e842";
}

.ant-design-crown-filled:before {
  content: "\e874";
}

.ant-design-crown-twotone:before {
  content: "\e778";
}

.ant-design-credit-card-outlined:before {
  content: "\e7e0";
}

.ant-design-credit-card-filled:before {
  content: "\e860";
}

.ant-design-credit-card-twotone:before {
  content: "\ea0c";
}

.ant-design-copyright-outlined:before {
  content: "\e77f";
}

.ant-design-copyright-twotone:before {
  content: "\e777";
}

.ant-design-copyright-circle-filled:before {
  content: "\e6f0";
}

.ant-design-copyright-circle-twotone:before {
  content: "\ea0b";
}

.ant-design-copyright-circle-outlined:before {
  content: "\e959";
}

.ant-design-copy-filled:before {
  content: "\e85c";
}

.ant-design-copy-outlined:before {
  content: "\e72b";
}

.ant-design-copy-twotone:before {
  content: "\ea0a";
}

.ant-design-control-filled:before {
  content: "\e852";
}

.ant-design-control-twotone:before {
  content: "\ea09";
}

.ant-design-control-outlined:before {
  content: "\e958";
}

.ant-design-container-outlined:before {
  content: "\e7b4";
}

.ant-design-container-filled:before {
  content: "\e85f";
}

.ant-design-container-twotone:before {
  content: "\ea08";
}

.ant-design-contacts-outlined:before {
  content: "\e7d4";
}

.ant-design-contacts-filled:before {
  content: "\e6ef";
}

.ant-design-contacts-twotone:before {
  content: "\e776";
}

.ant-design-console-sql-outlined:before {
  content: "\e910";
}

.ant-design-compress-outlined:before {
  content: "\e914";
}

.ant-design-compass-outlined:before {
  content: "\e77e";
}

.ant-design-compass-filled:before {
  content: "\e6ee";
}

.ant-design-compass-twotone:before {
  content: "\e775";
}

.ant-design-comment-outlined:before {
  content: "\e8ea";
}

.ant-design-column-width-outlined:before {
  content: "\e7fd";
}

.ant-design-column-height-outlined:before {
  content: "\e957";
}

.ant-design-coffee-outlined:before {
  content: "\e956";
}

.ant-design-codepen-outlined:before {
  content: "\e880";
}

.ant-design-codepen-square-filled:before {
  content: "\e88e";
}

.ant-design-codepen-circle-outlined:before {
  content: "\e887";
}

.ant-design-codepen-circle-filled:before {
  content: "\e72a";
}

.ant-design-code-sandbox-square-filled:before {
  content: "\e6ed";
}

.ant-design-code-sandbox-outlined:before {
  content: "\e729";
}

.ant-design-code-sandbox-circle-filled:before {
  content: "\e6ec";
}

.ant-design-code-filled:before {
  content: "\e84f";
}

.ant-design-code-outlined:before {
  content: "\e728";
}

.ant-design-code-twotone:before {
  content: "\ea07";
}

.ant-design-cluster-outlined:before {
  content: "\e7de";
}

.ant-design-cloud-upload-outlined:before {
  content: "\e7dd";
}

.ant-design-cloud-sync-outlined:before {
  content: "\e7dc";
}

.ant-design-cloud-server-outlined:before {
  content: "\e7db";
}

.ant-design-cloud-twotone:before {
  content: "\e774";
}

.ant-design-cloud-outlined:before {
  content: "\e7da";
}

.ant-design-cloud-filled:before {
  content: "\e869";
}

.ant-design-cloud-download-outlined:before {
  content: "\e7d9";
}

.ant-design-close-outlined:before {
  content: "\e6d5";
}

.ant-design-close-square-filled:before {
  content: "\e84c";
}

.ant-design-close-square-outlined:before {
  content: "\e727";
}

.ant-design-close-square-twotone:before {
  content: "\e773";
}

.ant-design-close-circle-outlined:before {
  content: "\e77d";
}

.ant-design-close-circle-filled:before {
  content: "\e844";
}

.ant-design-close-circle-twotone:before {
  content: "\ea06";
}

.ant-design-clock-circle-filled:before {
  content: "\e6eb";
}

.ant-design-clock-circle-outlined:before {
  content: "\e726";
}

.ant-design-clock-circle-twotone:before {
  content: "\e772";
}

.ant-design-clear-outlined:before {
  content: "\e900";
}

.ant-design-ci-circle-filled:before {
  content: "\e846";
}

.ant-design-ci-circle-twotone:before {
  content: "\ea03";
}

.ant-design-ci-circle-outlined:before {
  content: "\e955";
}

.ant-design-ci-outlined:before {
  content: "\ea04";
}

.ant-design-ci-twotone:before {
  content: "\ea05";
}

.ant-design-chrome-outlined:before {
  content: "\e87f";
}

.ant-design-chrome-filled:before {
  content: "\e886";
}

.ant-design-check-square-filled:before {
  content: "\e84b";
}

.ant-design-check-square-outlined:before {
  content: "\e723";
}

.ant-design-check-square-twotone:before {
  content: "\e771";
}

.ant-design-check-outlined:before {
  content: "\e7fc";
}

.ant-design-check-circle-filled:before {
  content: "\e6ea";
}

.ant-design-check-circle-twotone:before {
  content: "\e770";
}

.ant-design-check-circle-outlined:before {
  content: "\e670";
}

.ant-design-carry-out-outlined:before {
  content: "\e7d3";
}

.ant-design-carry-out-filled:before {
  content: "\e84e";
}

.ant-design-carry-out-twotone:before {
  content: "\e76f";
}

.ant-design-caret-up-filled:before {
  content: "\e676";
}

.ant-design-caret-up-outlined:before {
  content: "\ea02";
}

.ant-design-caret-right-filled:before {
  content: "\e722";
}

.ant-design-ccaret-right-outlined:before {
  content: "\ea01";
}

.ant-design-caret-left-filled:before {
  content: "\e6e9";
}

.ant-design-caret-left-outlined:before {
  content: "\ea00";
}

.ant-design-car-twotone:before {
  content: "\e725";
}

.ant-design-caret-down-filled:before {
  content: "\e6e7";
}

.ant-design-caret-down-outlined:before {
  content: "\e9ff";
}

.ant-design-car-outlined:before {
  content: "\e7d8";
}

.ant-design-car-filled:before {
  content: "\e871";
}

.ant-design-calendar-twotone:before {
  content: "\e724";
}

.ant-design-camera-filled:before {
  content: "\e870";
}

.ant-design-camera-outlined:before {
  content: "\e721";
}

.ant-design-camera-twotone:before {
  content: "\e76e";
}

.ant-design-calendar-filled:before {
  content: "\e6e6";
}

.ant-design-calendar-outlined:before {
  content: "\e720";
}

.ant-design-calculator-outlined:before {
  content: "\e799";
}

.ant-design-calculator-filled:before {
  content: "\e84d";
}

.ant-design-calculator-twotone:before {
  content: "\e76d";
}

.ant-design-bulb-outlined:before {
  content: "\e7c3";
}

.ant-design-bulb-filled:before {
  content: "\e867";
}

.ant-design-bulb-twotone:before {
  content: "\e9fe";
}

.ant-design-build-outlined:before {
  content: "\e7d6";
}

.ant-design-build-filled:before {
  content: "\e873";
}

.ant-design-build-twotone:before {
  content: "\e76c";
}

.ant-design-bug-filled:before {
  content: "\e8e9";
}

.ant-design-bug-twotone:before {
  content: "\e9fd";
}

.ant-design-bug-outlined:before {
  content: "\e954";
}

.ant-design-branches-outlined:before {
  content: "\e7e7";
}

.ant-design-box-plot-outlined:before {
  content: "\e7d5";
}

.ant-design-box-plot-filled:before {
  content: "\e872";
}

.ant-design-box-plot-twotone:before {
  content: "\e76b";
}

.ant-design-borderless-table-outlined:before {
  content: "\e953";
}

.ant-design-border-verticle-outlined:before {
  content: "\e7b3";
}

.ant-design-border-top-outlined:before {
  content: "\e7b2";
}

.ant-design-border-right-outlined:before {
  content: "\e7b1";
}

.ant-design-border-outlined:before {
  content: "\e7ae";
}

.ant-design-border-outer-outlined:before {
  content: "\e7a9";
}

.ant-design-border-left-outlined:before {
  content: "\e7ab";
}

.ant-design-border-inner-outlined:before {
  content: "\e7ad";
}

.ant-design-border-horizontal-outlined:before {
  content: "\e7ac";
}

.ant-design-border-bottom-outlined:before {
  content: "\e7aa";
}

.ant-design-book-filled:before {
  content: "\e6e5";
}

.ant-design-book-twotone:before {
  content: "\e9fc";
}

.ant-design-book-outlined:before {
  content: "\e952";
}

.ant-design-bold-outlined:before {
  content: "\e7f7";
}

.ant-design-block-outlined:before {
  content: "\e7df";
}

.ant-design-bg-colors-outlined:before {
  content: "\e800";
}

.ant-design-bell-outlined:before {
  content: "\e7c4";
}

.ant-design-bell-filled:before {
  content: "\e866";
}

.ant-design-bell-twotone:before {
  content: "\e9fb";
}

.ant-design-behance-outlined:before {
  content: "\e87b";
}

.ant-design-behance-circle-filled:before {
  content: "\e885";
}

.ant-design-behance-square-filled:before {
  content: "\e88d";
}

.ant-design-behance-square-outlined:before {
  content: "\e71f";
}

.ant-design-bars-outlined:before {
  content: "\e609";
}

.ant-design-barcode-outlined:before {
  content: "\e7d7";
}

.ant-design-bar-chart-outlined:before {
  content: "\e7b0";
}

.ant-design-bank-outlined:before {
  content: "\e7c6";
}

.ant-design-bank-filled:before {
  content: "\e86f";
}

.ant-design-bank-twotone:before {
  content: "\e76a";
}

.ant-design-backward-outlined:before {
  content: "\e71e";
}

.ant-design-backward-filled:before {
  content: "\e8ec";
}

.ant-design-audit-outlined:before {
  content: "\e7bf";
}

.ant-design-audio-outlined:before {
  content: "\e898";
}

.ant-design-audio-filled:before {
  content: "\e899";
}

.ant-design-audio-muted-outlined:before {
  content: "\e8e8";
}

.ant-design-audio-twotone:before {
  content: "\e9fa";
}

.ant-design-arrows-alt-outlined:before {
  content: "\e71d";
}

.ant-design-arrow-up-outlined:before {
  content: "\e951";
}

.ant-design-arrow-right-outlined:before {
  content: "\e71b";
}

.ant-design-arrow-left-outlined:before {
  content: "\e6e8";
}

.ant-design-arrow-down-outlined:before {
  content: "\e950";
}

.ant-design-area-chart-outlined:before {
  content: "\e7af";
}

.ant-design-appstore-filled:before {
  content: "\e6e4";
}

.ant-design-appstore-outlined:before {
  content: "\e71a";
}

.ant-design-appstore-twotone:before {
  content: "\e9f9";
}

.ant-design-appstore-add-outlined:before {
  content: "\e94f";
}

.ant-design-apple-outlined:before {
  content: "\e87e";
}

.ant-design-apple-filled:before {
  content: "\e881";
}

.ant-design-api-filled:before {
  content: "\e86d";
}

.ant-design-api-outlined:before {
  content: "\e71c";
}

.ant-design-api-twotone:before {
  content: "\e9f8";
}

.ant-design-apartment-outlined:before {
  content: "\e897";
}

.ant-design-ant-design-outlined:before {
  content: "\e87a";
}

.ant-design-ant-cloud-outlined:before {
  content: "\e719";
}

.ant-design-android-outlined:before {
  content: "\e60d";
}

.ant-design-android-filled:before {
  content: "\e669";
}

.ant-design-amazon-square-filled:before {
  content: "\e88c";
}

.ant-design-amazon-circle-filled:before {
  content: "\e63a";
}

.ant-design-amazon-outlined:before {
  content: "\e6ce";
}

.ant-design-aliyun-outlined:before {
  content: "\e718";
}

.ant-design-aliwangwang-filled:before {
  content: "\e601";
}

.ant-design-aliwangwang-outlined:before {
  content: "\e717";
}

.ant-design-alipay-square-filled:before {
  content: "\e60f";
}

.ant-design-alipay-outlined:before {
  content: "\e610";
}

.ant-design-alipay-circle-outlined:before {
  content: "\e884";
}

.ant-design-alipay-circle-filled:before {
  content: "\e61e";
}

.ant-design-align-right-outlined:before {
  content: "\e716";
}

.ant-design-align-left-outlined:before {
  content: "\e7f6";
}

.ant-design-align-center-outlined:before {
  content: "\e7f5";
}

.ant-design-alibaba-outlined:before {
  content: "\e879";
}

.ant-design-alert-outlined:before {
  content: "\e715";
}

.ant-design-alert-twotone:before {
  content: "\e769";
}

.ant-design-alert-filled:before {
  content: "\e639";
}

.ant-design-aim-outlined:before {
  content: "\e913";
}

.ant-design-account-book-filled:before {
  content: "\e6e2";
}

.ant-design-account-book-outlined:before {
  content: "\e714";
}

.ant-design-account-book-twotone:before {
  content: "\e768";
}

